<ng-container *ngIf="contentHeader">
  <div class="content-header row">
    <div class="content-header-left col-md-12 col-12 mb-2">
      <div class="row breadcrumbs-top">
        <div class="col-md-12">
          <div class="breadcrumbs-top-heading">
            <h2 class="content-header-title float-left mb-0">
              {{ contentHeader.headerTitle }}
            </h2>
            <!-- <div class="switch-online">
                              <div class="columns">
                                  <div class="column is-12">
                                      <div class="up-in-toggle" id="main-toggle">
                                          <input type="radio" id="switch_left" name="switch_2" value="yes" />
                                          <label for="switch_left" class="online" onclick="outletStatus()">Online</label>
                                          <input type="radio" id="switch_right" name="switch_2" value="no" checked/>
                                          <label for="switch_right" class="offline" onclick="outletStatus()">Offline</label>
                                      </div>
                                  </div>
                              </div>
                          </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- <div class="content-wrapper container-fluid p-0">
  <div class="content-body">
    <section class="ticket-page">
      <div class="d-flex align-items-baseline justify-content-between">
        <div class="d-flex justify-content-evenly">
          
          <div class="form-group">
            <select class="form-control" id="basicSelect" (change)="selcectStatus($event)">
              <option value="All">All</option>
              <option value="Open">Pending</option>
              <option value="completed">Completed</option>
            </select>
          </div>
        </div>
    
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="card" *ngFor="let ticket of allTicket">
            <div class="card-body">
              <h4 class="card-title">{{ ticket.issue }}</h4>
              <div class="card-subtitle text-muted mb-1">
                <strong>Description:</strong>
                <span> {{ ticket.description }} </span>
              </div>
              <hr />
              <p class="card-text">
                <strong>Ticket Id :</strong> <span> {{ ticket.ticketId }}</span>
              </p>
            
              <button class="btn btn-outline-primary" (click)="modalProductView(productView, ticket.ticketId)">
                View Details
              </button>
            </div>
          </div>
        </div>

        
        <ng-template #productView let-modal>
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel6">Ticket Details</h5>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" tabindex="0" ngbAutofocus>
            <div class="row">
              <div class="col-md-12">
                <h3></h3>
                <div class="row">
                  <div class="col-md-6">
                    <div class="product-view-box">
                      <div><strong>Product Name</strong></div>
                      <div>
                        <p>{{ ticketDetails?.productNameList }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="product-view-box">
                      <div><strong>Customer Name</strong></div>
                      <div>
                        <p>
                          {{ ticketDetails?.orderDetails?.client?.clientName }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="product-view-box">
                      <div><strong>Issue</strong></div>
                      <div>
                        <p>{{ ticketDetails?.issue }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="product-view-box">
                      <div><strong>Description</strong></div>
                      <div>
                        <p>
                          {{ ticketDetails?.description }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="product-view-box">
                      <div><strong>status</strong></div>
                      <div>
                        <p>
                          {{ ticketDetails?.status }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                  
                  </div>

                
                </div>
              </div>
            </div>
          </div>
        </ng-template>
    
                    <div class="col-md-7">
                        <div class="card view-details">
                            <div class="Cross-btn mr-1">
                                
                                <button type="button" class="close" (click)="closeDetails()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title d-flex">{{ticketDetails?.issue}}</h4>
                                <hr>
                                <div class="media">
                                    <div class="avatar mr-1">
                                        <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" width="42"
                                            height="42" />
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mb-0">Shyama Thakur</h5>
                                        <small class="text-muted">1 Order With Fablo Food</small>
                                    </div>
                                </div>
                                <img class="ticket-wrong-image" src="assets/images/pages/wrong-item.jpg" />
                                <div
                                    class="d-flex align-items-baseline justify-content-between pb-1 pl-1 pl-md-0 pb-md-0 mt-2">
                                    <h5><strong>Issue with:</strong> <span> 1X Chicken Roll</span> <strong>₹
                                            210</strong>
                                    </h5>
                                    <button class="btn btn-outline-primary">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </ng-container>
      </div>
    </section>
  </div>
</div> -->

<div class="">
  <div class="tab-switch">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all"
          type="button" role="tab" aria-controls="pills-all" aria-selected="true" (click)="selcectStatus('All')">
          All
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-pending-tab" data-bs-toggle="pill" data-bs-target="#pills-pending"
          type="button" role="tab" aria-controls="pills-pending" aria-selected="false" (click)="selcectStatus('Open')">
          Pending
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-completed-tab" data-bs-toggle="pill" data-bs-target="#pills-completed"
          type="button" role="tab" aria-controls="pills-completed" aria-selected="false"
          (click)="selcectStatus('completed')">
          Completed
        </button>
      </li>
    </ul>
  </div>
</div>

<section id="users-page">
  <div *ngIf="!allTicket || allTicket.length === 0">
    <h5>No Data Found</h5>
  </div>
  <div class="row"  *ngIf="allTicket && allTicket.length > 0">
    <!-- Dynamic data Card -->


    <div class="col-6 col-md-6 col-lg-6" *ngFor="let ticket of allTicket">
      <div class="card-body">
        <div class="outlet-body">
          <div class="card-transaction support">
            <div class="" >
              <div class="card-body hh">
                <div class="row anjali">
                  <div class="col-md-3">
                    <div class="avatar img">
                      <img class="round" src="../../../../assets/images/myimages/cinema-tickets.svg">
                      
                    </div>
                  </div>
                 <div class="col-md-9">
                  <div class="heading2">
                    <h1 style="font-size: 20px;">issue{{ ticket?.issue }}</h1>
                    <!-- <p>description {{ticket?.description}}</p> -->
                  </div>
                 </div>
                </div>
                <!-- <div class="heading2">
                  <h1>issue{{ ticketDetails?.issue }}</h1>
                  <p>description {{ ticketDetails?.description }}</p>
                </div> -->
                <hr />
                <div class="discription">
                  <p><b>Description </b> : {{ticket?.description}}</p>
                </div>
                <!-- <hr> -->
                <div class="row pt-2">
                  <div class="col-md-6 he">
                    <div class="transaction-item ">
                      <div class="media">
                        <div class="media-body">
                          <h6 class="transaction-title">User Id:</h6>
                        </div>
                      </div>
                      <div class="details">{{ticket?.userId}}</div>
                    </div>
                    <div class="transaction-item">
                      <div class="media">
                        <div class="media-body">
                          <h6 class="transaction-title">Role:</h6>
                        </div>
                      </div>
                      <div class="details">{{ticket?.role}}</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="transaction-item">
                      <div class="media">
                        <div class="media-body">
                          <h6 class="transaction-title">Priority:</h6>
                        </div>
                      </div>
                      <div class="details">{{ticket?.priority}}</div>
                    </div>
                    <div class="transaction-item">
                      <div class="media">
                        <div class="media-body">
                          <h6 class="transaction-title">Status:</h6>
                        </div>
                      </div>
                      <div class="details">{{ticket?.status}}</div>
                    </div>
                  </div>
                </div>
                <div class="details-parent d-flex justify-content-end">
                  <button class="btn1" (click)="modalProductView(productView, ticket.ticketId)">
                    View Details
                  </button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Dynamic data Card -->
  </div>
</section>



<ng-template #addOfferModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Add Offers</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form [formGroup]="addDiscountForm" class="form form-vertical" (ngSubmit)="addDiscountFormSubmit()">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="first-name-vertical">Discount Name</label>
            <input type="text" id="discountTitle-vertical" class="form-control" name="discountTitle"
              placeholder="Discount Name" formControlName="discountTitle" [ngClass]="{
                'is-invalid': submitted && addDiscount.discountTitle.errors
              }" />
            <div *ngIf="submitted && addDiscount.discountTitle.errors" class="invalid-feedback">
              <div *ngIf="addDiscount.discountTitle.errors.required">
                Discount Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="first-name-vertical">Promo Code</label>
            <input type="text" id="promoCode-vertical" class="form-control" name="promoCode" placeholder="Promo Code"
              formControlName="promoCode" />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="email-id-vertical">Percent Off(%)</label>

            <select class="form-control" formControlName="discountPercent" id="basicSelect" [ngClass]="{'is-invalid': submitted && addDiscount.discountPercent.errors}">
              <option>10</option>
              <option>15</option>
              <option>20</option>
              <option>25</option>
              <option>30</option>
              <option>40</option>
              <option>45</option>
              <option>50</option>
              <option>60</option>
              <option>70</option>
              <option>80</option>
            </select>
            <div *ngIf="submitted && addDiscount.discountPercent.errors" class="invalid-feedback">
              <div *ngIf="addDiscount.discountPercent.errors.required">
                Discount Percent is required
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 form-group" class="">
          <label for="basicTextarea">Minimum order value</label>
          <input type="number" id="discountPercent-vertical" class="form-control" name="minAmount"
            placeholder="Min Amount" formControlName="minAmount" [ngClass]="{
              'is-invalid': submitted && addDiscount.minAmount.errors
            }" />
          <div *ngIf="submitted && addDiscount.minAmount.errors" class="invalid-feedback">
            <div *ngIf="addDiscount.minAmount.errors.required">
              Minmum Amount is required
            </div>
          </div>
        </div>

        <div class="col-12 mt-1 mb-1 form-group">
         
         
          <label class="cyberpunk-checkbox-label">
            <input type="checkbox" (change)="flatValue($event)" class="cyberpunk-checkbox"
              formControlName="isFlatDiscount" />
            Flat Discount</label>
        </div>

        <div class="col-12 form-group" *ngIf="!isFlat">
          <label for="basicTextarea">maxDiscount</label>
          <input type="number" id="maxDiscount-vertical" class="form-control" name="maxDiscount"
            placeholder="Max Discount" formControlName="maxDiscount" [ngClass]="{
              'is-invalid': submitted && addDiscount.maxDiscount.errors
            }" />
          <div *ngIf="submitted && addDiscount.maxDiscount.errors" class="invalid-feedback">
            <div *ngIf="addDiscount.maxDiscount.errors.required">
              Maximum Discount Amount is required
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="model-btn" (click)="modal.close('Accept click')" rippleEffect>
            Cancel
          </button>
          <button type="submit" class="model-btn1" rippleEffect>
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template> 
