<div class="content-wrapper container-fluid p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="">
      <div class="tab-switch">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all"
              type="button" role="tab" aria-controls="pills-all" aria-selected="true" (click)="selcectStatus('All')">
              All
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-pending-tab" data-bs-toggle="pill" data-bs-target="#pills-pending"
              type="button" role="tab" aria-controls="pills-pending" aria-selected="false" (click)="selcectStatus('Open')">
              Pending
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-completed-tab" data-bs-toggle="pill" data-bs-target="#pills-completed"
              type="button" role="tab" aria-controls="pills-completed" aria-selected="false"
              (click)="selcectStatus('completed')">
              Completed
            </button>
          </li>
        </ul>
      </div>
    </div>
    
    <section id="users-page">
      <div *ngIf="!allTicket || allTicket.length === 0">
        <h5>No Data Found</h5>
      </div>
      <div class="row"  *ngIf="allTicket && allTicket.length > 0">
        <!-- Dynamic data Card -->
    
    
        <div class="col-6 col-md-6 col-lg-6" *ngFor="let ticket of allTicket">
          <div class="card-body">
            <div class="outlet-body">
              <div class="card-transaction support">
                <div class="" >
                  <div class="card-body hh">
                    <div class="row anjali">  
                      <div class="col-md-3">
                        <div class="avatar img">
                          <img class="round" src="../../../../assets/images/myimages/cinema-tickets.svg">
                          
                        </div>
                      </div>
                     <div class="col-md-9">
                      <div class="heading2">
                        <h1 style="font-size: 20px;">issue{{ ticket?.issue }}</h1>
                        <!-- <p>{{ticket?.description}}</p> -->
                      </div>
                     </div>
                    </div>
                    <!-- <div class="heading2">
                      <h1>issue{{ ticketDetails?.issue }}</h1>
                      <p>description {{ ticketDetails?.description }}</p>
                    </div> -->
                    <hr />
                    <div class="discription">
                      <p><b>Description </b> : {{ticket?.description}}</p>
                    </div>
                    <!-- <hr> -->
                    <div class="row pt-2">
                      <div class="col-md-6 he">
                        <div class="transaction-item">
                          <div class="media">
                            <div class="media-body">
                              <h6 class="transaction-title">AssignedTo:</h6>
                            </div>
                          </div>
                          <div class="details">{{ticket?.assignedTo}}</div>
                        </div>
                        <div class="transaction-item ">
                          <div class="media">
                            <div class="media-body">
                              <h6 class="transaction-title">User Id:</h6>
                            </div>
                          </div>
                          <div class="details">{{ticket?.userId}}</div>
                        </div>
                        <div class="transaction-item">
                          <div class="media">
                            <div class="media-body">
                              <h6 class="transaction-title">Role:</h6>
                            </div>
                          </div>
                          <div class="details">{{ticket?.role}}</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <!-- "assignedTo": null,
                        "createdAt": "Today 3:25 PM" -->
                        <div class="transaction-item">
                          <div class="media">
                            <div class="media-body">
                              <h6 class="transaction-title">DateTime:</h6>
                            </div>
                          </div>
                          <div class="details">{{ticket?.createdAt}}</div>
                        </div>
                        <div class="transaction-item">
                          <div class="media">
                            <div class="media-body">
                              <h6 class="transaction-title">Priority:</h6>
                            </div>
                          </div>
                          <div class="details">{{ticket?.priority}}</div>
                        </div>
                        <div class="transaction-item">
                          <div class="media">
                            <div class="media-body">
                              <h6 class="transaction-title">Status:</h6>
                            </div>
                          </div>
                          <div class="details">{{ticket?.status}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="details-parent d-flex justify-content-end">
                      <button class="btn1" (click)="modalProductView(productView, ticket.ticketId)">
                        View Details
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ Dynamic data Card -->
      </div> 
    </section>
    
    </div>
    </div>


<ng-template #productView let-modal>  
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Ticket Details</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-2" tabindex="0">
    <div class="row" >
      <div class="col-md-6">
        <div class="details-parent1">
          <h3>Customer Details</h3>
          <hr>
          <p class="pt-1"><strong>Name:</strong> {{ ticketDetails?.orderDetails?.client?.clientName }}</p>
          <p><strong>Phone : </strong> {{ ticketDetails?.orderDetails.client?.clientPhone }}</p>
          <p><strong>Address : </strong> {{ ticketDetails?.orderDetails.client?.clientAddress }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="details-parent1">
          <h3>Outlet Details</h3>
          <hr>
          <p class="pt-1"><strong>Name : </strong> {{ ticketDetails?.orderDetails?.outlet?.outletName }}</p>
          <p><strong>Phone : </strong> {{ ticketDetails?.orderDetails?.outlet?.outletPhone }}</p>
          <p><strong>Address : </strong> {{ ticketDetails?.orderDetails?.outlet?.outletAddress }}</p>
        </div>
      </div>
       <!-- <hr> -->
       <div class="details-parent pt-2">
        <h3 class="text1">Product List</h3>
        <table>
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Is Veg</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of ticketDetails.orderDetails.productList">
              <td>{{ product.productName }}</td>
              <td>{{ product.productPrice }}</td>
              <td>{{ product.quantity }}</td>
              <td>{{ product.isVeg ? 'Yes' : 'No' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>

<block-ui> </block-ui>
