<!-- opne offer list Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160"></h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0">
    <div class="row">
      <div class="col-12" *ngIf="outletOffer">
        <h4 class="card-title">Outlet Offer</h4>
        <div class=" card offer-box">
          <div class="card-body">
            <h3>{{ outletOffer.discountTitle }}</h3>
            <div class="d-flex align-items-baseline justify-content-between ">
              <button class="btn btn-offer-edit" (click)="openEditOfferModal(content1, offer)" rippleEffect>
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button class="btn btn-offer-delete" (click)="openUnlinkModal(content2)" rippleEffect>
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>

            <a class="offer-outlet">
              <p>
                Apply this offer & get flat {{ outletOffer.discountPercent }}%
                OFF on this order, order above ₹{{ outletOffer.minAmount }} No
                upper limit
              </p>
              <h4>{{ outletOffer.discountPercent }}%</h4>
              <h5>OFF</h5>
            </a>
          </div>
        </div>
      </div>

      <div class="col-12">
        <section id="ngx-datatable-kitchen-sink">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h4 class="card-title">Seller Offer List</h4>
              </div>
              <div class="row">
                <div class="col-12 mb-50"></div>
                <div class="col-md-6 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <label class="d-flex align-items-center">Show
                      <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                      </select>
                      entries</label>
                  </div>
                </div>
                <div class="col-md-6 col-12 d-flex justify-content-md-end">
                  <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                    <label class="d-flex align-items-center">Search<input type="search" placeholder="Search"
                        class="form-control ml-25" (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" />
                    </label>
                  </div>
                </div>
              </div>
              <ngx-datatable class="material container striped" [columns]="cols" [rows]="kitchenSinkRows"
                [rowHeight]="58" rowHeight="auto" class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force"
                [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true" [selectionType]="SelectionType.checkbox"
                [limit]="basicSelectedOption" (select)="onSelect($event)">
                <ngx-datatable-column name="S.No." [width]="50" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                    {{ rowIndex + 1 }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Discount Title" prop="discountTitle" [width]="100"></ngx-datatable-column>
                <ngx-datatable-column name="Promo Code" prop="promoCode" [width]="100"></ngx-datatable-column>
                <ngx-datatable-column name="Discount %" prop="discountPercent" [width]="100"></ngx-datatable-column>
                <ngx-datatable-column name="Max Discount" prop="maxDiscount" [width]="100"
                  [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="Min Amount" prop="minAmount" [width]="100"
                  [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="Flat Discount" prop="isFlatDiscount" [width]="100"
                  [sortable]="false"></ngx-datatable-column>
                <ngx-datatable-column name="Action" prop="Action" [width]="50" [sortable]="false"
                  class="badge badge-light-success badge-pill">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <button class="btn btn-primary" (click)="openLinkOfferModal(content1, row)">
                      APPLY
                    </button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <!-- Dynamic data Card -->
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card-body">
          <div class="outlet-body">
            <div class="card-transaction support">
              <div class="card-header">
                <div class="card-body">
                  <div class="heading2">
                    <h1>Customer Support</h1>
                  </div>
                  <hr />
                  <div class="transaction-item pt-1">
                    <div class="media">
                      <div class="avatar bg-light-primary rounded">
                        <div class="avatar-content">
                          <i
                            data-feather="check-square"
                            class="avatar-icon font-medium-3"
                          ></i>
                        </div>
                      </div>
                      <div class="media-body">
                        <h6 class="transaction-title">Name:</h6>
                      </div>
                    </div>
                    <div class="details">Anjali Bhayal</div>
                  </div>
                  <div class="transaction-item">
                    <div class="media">
                      <div class="avatar bg-light-success rounded">
                        <div class="avatar-content">
                          <i
                            data-feather="tablet"
                            class="avatar-icon font-medium-3"
                          ></i>
                        </div>
                      </div>
                      <div class="media-body">
                        <h6 class="transaction-title">Phone Number:</h6>
                      </div>
                    </div>
                    <div class="details">9123456789</div>
                  </div>
                  <div class="transaction-item">
                    <div class="media">
                      <div class="avatar bg-light-danger rounded">
                        <div class="avatar-content">
                          <i
                            data-feather="check"
                            class="avatar-icon font-medium-3"
                          ></i>
                        </div>
                      </div>
                      <div class="media-body">
                        <h6 class="transaction-title">Email ID:</h6>
                      </div>
                    </div>
                    <div class="details">Demo@gmail.com</div>
                  </div>
                  <div class="transaction-item">
                    <div class="media">
                      <div class="avatar bg-light-warning rounded">
                        <div class="avatar-content">
                          <i
                            data-feather="calendar"
                            class="avatar-icon font-medium-3"
                          ></i>
                        </div>
                      </div>
                      <div class="media-body">
                        <h6 class="transaction-title">Password:</h6>
                      </div>
                    </div>
                    <div class="details">Blank</div>
                  </div>

                  
                    <div class="parent d-flex justify-content-between align-items-center">
                      <button class="btn btn-primary" (click)="openLinkOfferModal(content1, row)">
                        APPLY
                      </button>
                      <button class="btn btn-primary">
                        OPEN
                      </button>
                    </div>
                

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--/ Dynamic data Card -->
    </div>
  </div>


</ng-template>

<!-- open link offer to outlet Modal -->
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Link Offer to Outlet</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0">Are You Sure You Want to Apply this offer to the current outlet.</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click')">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="linkOffer(); modal.close()">
      Confirm
    </button>
  </div>
</ng-template>

<!-- open unlink offer from outlet Modal -->
<ng-template #content2 let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Unlink Offer From Outlet</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0">Are You Sure You Want to Unlink</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click')">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="unLinkOffer(); modal.close()">
      Confirm
    </button>
  </div>
</ng-template>

<!-- open out of stock product Modal -->
<ng-template #content3 let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160"></h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0">
    <section id="ngx-datatable-kitchen-sink">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h4 class="card-title">Out Of stock Products</h4>
          </div>
          <div class="row">
            <div class="col-12 mb-50"></div>
            <div class="col-md-6 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                <label class="d-flex align-items-center">Show
                  <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                  </select>
                  entries</label>
              </div>
            </div>
            <div class="col-md-6 col-12 d-flex justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                <label class="d-flex align-items-center">Search
                  <input type="search" placeholder="Search" class="form-control ml-25" (keyup)="filterUpdate($event)"
                    (search)="filterUpdate($event)" />
                </label>
              </div>
            </div>
          </div>
          <ngx-datatable class="material container striped" [columns]="cols" [rows]="kitchenSinkRows2" [rowHeight]="58"
            rowHeight="auto" class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="40"
            [footerHeight]="50" [scrollbarH]="true" [selectionType]="SelectionType.checkbox"
            [limit]="basicSelectedOption" (select)="onSelect($event)">
            <ngx-datatable-column name="S.No." [width]="50" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                {{ rowIndex + 1 }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Product Name" prop="productName" [width]="150"></ngx-datatable-column>
            <!--   <ngx-datatable-column name="In Stock" prop="inStock" [width]="100"></ngx-datatable-column> -->
            <ngx-datatable-column name="Action" prop="Action" [width]="50" [sortable]="false"
              class="badge badge-light-success badge-pill">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <button class="btn btn-primary" (click)="openChangStockModal(content4, row)">
                  In Stock
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </section>
  </div>
  <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click')">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="unLinkOffer(); modal.close()">Confirm</button>
    </div> -->
</ng-template>

<!-- open change stock Modal -->
<ng-template #content4 let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Update Stock</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0">Are You Sure You Want to Update</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click')">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="chnageStockStatus()">
      Confirm
    </button>
  </div>
</ng-template>

<ng-template #content5 let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Outlet Earning</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" tabindex="0">
    <div class="row">
      <div class="align-items-center date-range mr-1">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <ng2-flatpickr [config]="DateRangeOptions" name="DateRange" placeholder="Date"
            (change)="getDate($event)"></ng2-flatpickr>
        </div>
      </div>
      <div class="earning col-lg-5 col-md-5 col-sm-12">
        <div class="earning-data col-lg-5">
          <p><strong>Total Sale:</strong></p>
        </div>
        <div class="col-lg-7">
          <p>₹ {{ outletEarnings.totalSale }}</p>
        </div>
      </div>
      <div class="earning col-lg-5 col-md-5 col-sm-12">
        <div class="earning-data col-lg-5">
          <p><strong>Order Count:</strong></p>
        </div>
        <div class="col-lg-7">
          <p>{{ outletEarnings.orderCount }}</p>
        </div>
      </div>
      <div class="earning col-lg-5 col-md-5 col-sm-12">
        <div class="earning-data col-lg-5">
          <p><strong>Total Discount:</strong></p>
        </div>
        <div class="col-lg-7">
          <p>₹ {{ outletEarnings.totalDiscount }}</p>
        </div>
      </div>
      <div class="earning col-lg-5 col-md-5 col-sm-12">
        <div class="earning-data col-lg-5">
          <p><strong>Net Profit:</strong></p>
        </div>
        <div class="col-lg-7">
          <p>₹ {{ outletEarnings.netProfit }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #content6 let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Bank Details</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" tabindex="0">
    <div class="row">
      <!-- <div class="align-items-center date-range mr-1">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <ng2-flatpickr
            [config]="DateRangeOptions"
            name="DateRange"
            placeholder="Date"
            (change)="getDate($event)"
          ></ng2-flatpickr>
        </div>
      </div> -->
      <!-- <div class="earning col-lg-11 col-md-11 col-sm-12">
        <div class="earning-data col-lg-5">
          <p><strong>Total Sale:</strong></p>
        </div>
        <div class="col-lg-7">
          <p>₹ {{ outletEarnings.totalSale }}</p>
        </div>
        <div class="earning-data col-lg-5">
          <p><strong>Total Sale:</strong></p>
        </div>
        <div class="col-lg-7">
          <p>₹ {{ outletEarnings.totalSale }}</p>
        </div>
        <div class="earning-data col-lg-5">
          <p><strong>Total Sale:</strong></p>
        </div>
        <div class="col-lg-7">
          <p>₹ {{ outletEarnings.totalSale }}</p>
        </div>
        <div class="earning-data col-lg-5">
          <p><strong>Total Sale:</strong></p>
        </div>
        <div class="col-lg-7">
          <p>₹ {{ outletEarnings.totalSale }}</p>
        </div>
        
      </div> -->
      <div class="details-parent col-md-12">
        <div class="card-body11">
          {{noDataFound}}
          <div class=" card-transaction pt-0" *ngIf="!this.bankdetails.length">
            <div class="card-body1">
              <div class="transaction-item">
                <div class="media">
                  <div class="media-body">
                    <h6 class="transaction-title">Account Holder:</h6>
                  </div>
                </div>
                <div class="details">{{ this.bankdetails?.accountHolder }}</div>
              </div>
              <div class="transaction-item">
                <div class="media">
                  <div class="media-body">
                    <h6 class="transaction-title">Account Number :</h6>
                  </div>
                </div>
                <div class="details">{{ this.bankdetails?.accountNumber }}</div>
              </div>

              <div class="transaction-item">
                <div class="media">
                  <div class="media-body">
                    <h6 class="transaction-title">IFSC Code :</h6>
                  </div>
                </div>
                <div class="details">{{ this.bankdetails?.ifsc }}</div>
              </div>

              <div class="transaction-item">
                <div class="media">
                  <div class="media-body">
                    <h6 class="transaction-title">Branch Name :</h6>
                  </div>
                </div>
                <div class="details">{{ this.bankdetails?.branchName }}</div>
              </div>

              <div class="transaction-item">
                <div class="media">
                  <div class="media-body">
                    <h6 class="transaction-title">Bank Name :</h6>
                  </div>
                </div>
                <div class="details">{{ this.bankdetails?.bankName }}</div>
              </div>
            </div>
          </div>
        </div>
       
      </div>



    </div>
  </div>
</ng-template>




<!-- open out of stock product Modal -->
<ng-template #content7 let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160"></h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0">
    <section id="ngx-datatable-kitchen-sink">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h4 class="card-title">Settletment Amount</h4>
          </div>
         
          <ngx-datatable class="material container striped" [columns]="cols" [rows]="kitchenSinkRows2" [rowHeight]="58"
            rowHeight="auto" class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="40"
            [footerHeight]="50" [scrollbarH]="true" [selectionType]="SelectionType.checkbox"
            [limit]="basicSelectedOption" (select)="onSelect($event)">
            <ngx-datatable-column name="S.No." [width]="50" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                {{ rowIndex + 1 }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Product Name" prop="productName" [width]="150"></ngx-datatable-column>
            <!--   <ngx-datatable-column name="In Stock" prop="inStock" [width]="100"></ngx-datatable-column> -->
            <ngx-datatable-column name="Action" prop="Action" [width]="50" [sortable]="false"
              class="badge badge-light-success badge-pill">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <button class="btn btn-primary" (click)="openChangStockModal(content4, row)">
                  In Stock
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </section>
  </div>
  <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click')">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="unLinkOffer(); modal.close()">Confirm</button>
    </div> -->
</ng-template>
























<!-- new outlet details design -->
<div class="order">
  <div class="card card-congratulation-medal">
    <div class="card-body">
      <h1>Outlet Details</h1>
      <div class="row match-height">
        <div class="content-wrapper container-fluid p-0">
          <div class="content-body">
            <section id="outlet-details-page">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title"></h4>
                  <div class="outlet-btn-sec">
                    <!-- <button class="btn btn-outline-primary" (click)="goToNewComponent()"><span>Offers</span></button>
                    
                    <button class="btn btn-outline-primary" (click)="newhistory()"><span>Order History</span></button>
                    <button class="btn btn-outline-primary" (click)="openMenu()"><span>Menu</span></button>
                    <button class="btn btn-outline-primary" (click)="OutOfStock()"><span>Out of Stock</span></button> -->
                    <button class="btn btn-primary btn-add" (click)="openOfferModal()">
                      <span>Offers</span>
                    </button>
                    <button class="btn btn-primary btn-add" (click)="orderHistoryPage()">
                      <span>Order History</span>
                    </button>
                    <button class="btn btn-primary btn-add" (click)="gotoMenuPage()">
                      <span>Menu</span>
                    </button>
                    <button class="btn btn-primary btn-add" (click)="openOutofStockModal(content3)">
                      <span>Out of Stock</span>
                    </button>
                    <button class="btn btn-primary btn-add" (click)="openEarningModal(content5)">
                      <span>Earning</span>
                    </button>
                    <button class="btn btn-primary btn-add" (click)="openSettlementModal()">
                      <span>Settlement Amount</span>
                    </button>
                    <button class="btn btn-primary btn-add" (click)="openbankDetailsModal(content6)">
                      <span>Bank Details</span>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="nav-vertical">
                      <div class="card card-profile1">
                        <div class="card-body">
                          <div class="column-parent d-flex" style="gap: 20px;">
                            <div class="image">
                              <img [src]="outletData?.outletImage" alt="Profile Picture" />
                            </div>
                            <div class="outlet-name-details">
                              <h1>{{ outletData.outletName }}</h1>
                              <h6 class="text-muted">{{ outletData.shopAddress }}</h6>
                              <div class="badge badge-light-primary profile-badge">{{ outletData.shopAddress }}</div>
                            </div>
                          </div>
                          <div class="details-parent d-flex justify-content-between">
                            <div class="details-parent col-md-4">
                              <div class="card-body11">
                                <div class="heading d-flex justify-content-between align-items-center">
                                  <div class="heading1">
                                    <h3>Basic Details</h3>
                                  </div>
                                  <hr class="mb-1">
                                </div>
                                <hr>
                                <div class=" card-transaction">
                                  <div class="card-body1">
                                    <div class="transaction-item">
                                      <div class="media">
                                        <div class="media-body">
                                          <h6 class="transaction-title">Seller Name:</h6>
                                        </div>
                                      </div>
                                      <div class="details">{{outletData.outletName}}</div>
                                    </div>
                                    <div class="transaction-item">
                                      <div class="media">
                                        <div class="media-body">
                                          <h6 class="transaction-title">Trade Name:</h6>
                                        </div>
                                      </div>
                                      <div class="details">{{ outletData.outletName }} </div>
                                    </div>
                                    <div class="transaction-item">
                                      <div class="media">
                                        <div class="media-body">
                                          <h6 class="transaction-title">Seller Type:</h6>
                                        </div>
                                      </div>
                                      <div class="details">individual</div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>

                            <div class="details-parent col-md-4">
                              <div class="card-body11">
                                <div class="heading d-flex justify-content-between align-items-center">
                                  <div class="heading1">
                                    <h3>Outlet Timing</h3>
                                  </div>

                                  <!-- <div class="icon" (click)="deleteOutlet(delete1)"> -->
                                  <i class="fas fa-edit"></i>
                                  <!-- </div> -->
                                </div>
                                <hr>
                                <div class=" card-transaction">
                                  <div class="card-body1">
                                    <div class="transaction-item">
                                      <div class="media">

                                        <div class="media-body">
                                          <h6 class="transaction-title">Opening Time:</h6>
                                        </div>
                                      </div>
                                      <div class="details">{{ openingTime }}</div>
                                    </div>
                                    <div class="transaction-item">
                                      <div class="media">
                                        <div class="media-body">
                                          <h6 class="transaction-title">Closing Time:</h6>
                                        </div>
                                      </div>
                                      <div class="details">{{ closingTime }}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="details-parent col-md-4">
                              <div class="card-body11">
                                <div class="heading d-flex justify-content-between align-items-center">
                                  <div class="heading1">
                                    <h3>Contact Details</h3>
                                  </div>
                                </div>
                                <hr>
                                <div class=" card-transaction">
                                  <div class="card-body1">
                                    <div class="transaction-item">
                                      <div class="media">
                                        <div class="media-body">
                                          <h6 class="transaction-title">Phone:</h6>
                                          <!-- <small>Starbucks</small> -->
                                        </div>
                                      </div>
                                      <div class="details">{{outletData?.phone}}</div>
                                    </div>
                                    <div class="transaction-item">
                                      <div class="media">
                                        <div class="media-body">
                                          <h6 class="transaction-title">Email:</h6>
                                        </div>
                                      </div>
                                      <div class="details"> @gmail.com</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <ng-template #delete1 let-modal>
  <div class="modal-header">
      <h5 class="modal-title" id="exampleModalCenterTitle">Delete Outlet</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
      <p>
          Are you sure you want to Delete ?
      </p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="modal.close('Accept click')" rippleEffect>
          Cancel
      </button>
      <button type="button" class="btn btn-primary" (click)="deleteOutletbtn()" rippleEffect>
          Delete
      </button>
  </div>
</ng-template> -->





<!-- active and inactive -->
<ng-template #content let-modal>
  <!-- <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">
      Change OUtlet Status Status
    </h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body p-2" tabindex="0">
    Are You Sure You Want to Change Status ?
  </div>
  <div class="modal-footer p-2">
    <button type="button" class="model-btn" (click)="modal.dismiss('Cross click')">
      Cancel
    </button>
    <button type="button" class="model-btn1" (click)="outletStatusChange()">
      Confirm
    </button>
  </div>
</ng-template>