<section id="ngx-datatable-kitchen-sink">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <!-- <h4 class="card-title">Seller Offer List</h4> -->
        </div>
        <div class="row">
            <!-- Dynamic data Card -->
            <div class="col-12 col-md-12 col-lg-12">
                <div class="">
                    <div class="outlet-body">
                      
                      <div class="">
                        
                        <div class="card-header">
                            <div class="card-body">
                              <div class="heading2">
                                <h1>Settlement Amount</h1>
                              </div>
                              <hr>
                             <div class="row" *ngFor="let data of SettlementAmountData">
                                <div class="col-6 col-md-6 col-lg-6" style="border-right: 1px solid #d6d5d9;">
                                    <div class="">
                                        <div class="outlet-body">
                                          
                                          <div class=" card-transaction support1">
                                            
                                            <div class="">
                                                <div class="">
                                                  <!-- <div class="heading2"> -->
                                                    <!-- <h1>Customer Support</h1> -->
                                                  <!-- </div> -->
                                                  <!-- <hr> -->
                                                    <div class="transaction-item pt-1">
                                                      <div class="media">
                                                        <div class="avatar bg-light-primary rounded">
                                                          <div class="avatar-content">
                                                            <i data-feather="check-square" class="avatar-icon font-medium-3"></i>
                                                          </div>
                                                        </div>
                                                        
                                                        <div class="media-body">
                                                          <h6 class="transaction-title">orderDate: </h6>
                                                        
                                                        </div>
                                                      </div>
                                                      <div class="details">{{data?.orderDate}}</div>
                                                    </div>
                                                    <div class="transaction-item">
                                                      <div class="media">
                                                        <div class="avatar bg-light-success rounded">
                                                          <div class="avatar-content">
                                                            <i data-feather="tablet" class="avatar-icon font-medium-3"></i>
                                                          </div>
                                                        </div>
                                                        <div class="media-body">
                                                          <h6 class="transaction-title">settleDate:</h6>
                                                        
                                                        </div>
                                                      </div>
                                                      <div class="details">{{data?.settleDate}}</div>
                                                    </div>
                                                    <div class="transaction-item">
                                                      <div class="media">
                                                        <div class="avatar bg-light-danger rounded">
                                                          <div class="avatar-content">
                                                            <i data-feather="check" class="avatar-icon font-medium-3"></i>
                                                          </div>
                                                        </div>
                                                        <div class="media-body">
                                                          <h6 class="transaction-title">outletId:</h6>
                                                          
                                                        </div>
                                                      </div>
                                                      <div class="details">{{data?.outletId}}</div>
                                                    </div>
                                                   
                                                 
                                                  </div>                        
                                            </div>
                                            
                                          </div>
                                        </div>
                    
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-6" >
                                    <div class="">
                                        <div class="outlet-body">
                                          
                                          <div class=" card-transaction support1">
                                            
                                            <div class="">
                                                <div class="">
                                                  <!-- <div class="heading2"> -->
                                                    <!-- <h1>Customer Support</h1> -->
                                                  <!-- </div> -->
                                                  <!-- <hr> -->
                                                    <div class="transaction-item pt-1">
                                                      <div class="media">
                                                        <div class="avatar bg-light-primary rounded">
                                                          <div class="avatar-content">
                                                            <i data-feather="check-square" class="avatar-icon font-medium-3"></i>
                                                          </div>
                                                        </div>
                                                        
                                                        <div class="media-body">
                                                          <h6 class="transaction-title">amount: </h6>
                                                        
                                                        </div>
                                                      </div>
                                                      <div class="details">{{data?.amount}}</div>
                                                    </div>
                                                    <div class="transaction-item">
                                                      <div class="media">
                                                        <div class="avatar bg-light-success rounded">
                                                          <div class="avatar-content">
                                                            <i data-feather="tablet" class="avatar-icon font-medium-3"></i>
                                                          </div>
                                                        </div>
                                                        <div class="media-body">
                                                          <h6 class="transaction-title">sellerId:</h6>
                                                        
                                                        </div>
                                                      </div>
                                                      <div class="details">{{data?.sellerId}}</div>
                                                    </div>
                                                    <div class="transaction-item">
                                                      <div class="media">
                                                        <div class="avatar bg-light-danger rounded">
                                                          <div class="avatar-content">
                                                            <i data-feather="check" class="avatar-icon font-medium-3"></i>
                                                          </div>
                                                        </div>
                                                        <div class="media-body">
                                                          <h6 class="transaction-title">status:</h6>
                                                          
                                                        </div>
                                                      </div>
                                                      <div class="details">{{data?.status}}</div>
                                                    </div>
                                                   
                                                 
                                                  </div>                        
                                            </div>
                                            
                                          </div>
                                        </div>
                    
                                    </div>
                                </div>
                             </div>
                            </div>                        
                        </div>
                        
                      </div>
                       
                    </div>

                </div>
            </div>
            
          


            <!--/ Dynamic data Card -->
        </div>



        
  <div class="card-body collapse-icon p-0 pt-1">
   <div class="collapse-default">
      <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" activeIds="panelBorderBottom1">
        <ngb-panel id="panelBorderBottom1">
          <ng-template ngbPanelTitle>
            <span>Settletment Orders </span>
          </ng-template>
          <ng-template ngbPanelContent>

            <div *ngFor="let item of SettlementAmountData">
             <ngx-datatable
                class="bootstrap"
                [rows]="item.orders"
                [columns]="orderColumns"
                columnMode="force"
                headerHeight="50"
                footerHeight="50"
                [rowHeight]="58" 
                rowHeight="auto"
                [scrollbarV]="true">
              </ngx-datatable>
            </div>
         <!-- <ngx-datatable class="material container striped" [columns]="cols" [rows]="kitchenSinkRows"
            [rowHeight]="58" rowHeight="auto" class="bootstrap core-bootstrap" 
            [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true" 
            [limit]="basicSelectedOption" (select)="onSelect($event)">
          
            <ngx-datatable-column name="Order ID" prop="orderId" [width]="150"></ngx-datatable-column>
            <ngx-datatable-column name="Order Value" prop="orderValue" [width]="150"></ngx-datatable-column>
            <ngx-datatable-column name="Discount %" prop="discount" [width]="150"></ngx-datatable-column>
            <ngx-datatable-column name="Deduction" prop="deducation" [width]="180"
              ></ngx-datatable-column>
            <ngx-datatable-column name="Deduction Reason" prop="deducationReason" [width]="180"
              ></ngx-datatable-column>
            <ngx-datatable-column name="Settlement Amount" prop="settlementAmount" [width]="180"
              ></ngx-datatable-column>
            <ngx-datatable-column name="Customer Name" prop="customerName" [width]="150" >
            
            </ngx-datatable-column>
          </ngx-datatable> 
 -->

          </ng-template>
        </ngb-panel>
    
      </ngb-accordion>
    </div>
  </div>
    
        
      <!--  -->
      </div>
    </div>
  </section>