<section id="ngx-datatable-kitchen-sink">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h4 class="card-title">Seller Offer List</h4>
        </div>
        <div class="row">
            <!-- Dynamic data Card -->
            <div class="col-12 col-md-12 col-lg-12">
                <div class="">
                    <div class="outlet-body">
                      
                      <div class="">
                        
                        <div class="card-header">
                            <div class="card-body">
                              <div class="heading2">
                                <h1>Customer Support</h1>
                              </div>
                              <!-- <hr> -->
                             <div class="row">
                                <div class="col-6 col-md-6 col-lg-6">
                                    <div class="card-body">
                                        <div class="outlet-body">
                                          
                                          <div class=" card-transaction support1">
                                            
                                            <div class="card-header">
                                                <div class="card-body">
                                                  <!-- <div class="heading2"> -->
                                                    <!-- <h1>Customer Support</h1> -->
                                                  <!-- </div> -->
                                                  <!-- <hr> -->
                                                    <div class="transaction-item pt-1">
                                                      <div class="media">
                                                        <div class="avatar bg-light-primary rounded">
                                                          <div class="avatar-content">
                                                            <i data-feather="check-square" class="avatar-icon font-medium-3"></i>
                                                          </div>
                                                        </div>
                                                        
                                                        <div class="media-body">
                                                          <h6 class="transaction-title">Name: </h6>
                                                        
                                                        </div>
                                                      </div>
                                                      <div class="details">Anjali Bhayal</div>
                                                    </div>
                                                    <div class="transaction-item">
                                                      <div class="media">
                                                        <div class="avatar bg-light-success rounded">
                                                          <div class="avatar-content">
                                                            <i data-feather="tablet" class="avatar-icon font-medium-3"></i>
                                                          </div>
                                                        </div>
                                                        <div class="media-body">
                                                          <h6 class="transaction-title">Phone Number:</h6>
                                                        
                                                        </div>
                                                      </div>
                                                      <div class="details">9123456789</div>
                                                    </div>
                                                    <div class="transaction-item">
                                                      <div class="media">
                                                        <div class="avatar bg-light-danger rounded">
                                                          <div class="avatar-content">
                                                            <i data-feather="check" class="avatar-icon font-medium-3"></i>
                                                          </div>
                                                        </div>
                                                        <div class="media-body">
                                                          <h6 class="transaction-title">Email ID:</h6>
                                                          
                                                        </div>
                                                      </div>
                                                      <div class="details">Demo@gmail.com</div>
                                                    </div>
                                                    <div class="transaction-item">
                                                      <div class="media">
                                                        <div class="avatar bg-light-warning rounded">
                                                          <div class="avatar-content">
                                                            <i data-feather="calendar" class="avatar-icon font-medium-3"></i>
                                                          </div>
                                                        </div>
                                                        <div class="media-body">
                                                          <h6 class="transaction-title">Password:</h6>
                                                         
                                                        </div>
                                                      </div>
                                                      <div class="details">Blank</div>
                                                    </div>
                                                 
                                                  </div>                        
                                            </div>
                                            
                                          </div>
                                        </div>
                    
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-6">
                                    <div class="card-body">
                                        <div class="outlet-body">
                                          
                                          <div class=" card-transaction support1">
                                            
                                            <div class="card-header">
                                                <div class="card-body">
                                                  <!-- <div class="heading2"> -->
                                                    <!-- <h1>Customer Support</h1> -->
                                                  <!-- </div> -->
                                                  <!-- <hr> -->
                                                    <div class="transaction-item pt-1">
                                                      <div class="media">
                                                        <div class="avatar bg-light-primary rounded">
                                                          <div class="avatar-content">
                                                            <i data-feather="check-square" class="avatar-icon font-medium-3"></i>
                                                          </div>
                                                        </div>
                                                        
                                                        <div class="media-body">
                                                          <h6 class="transaction-title">Name: </h6>
                                                        
                                                        </div>
                                                      </div>
                                                      <div class="details">Anjali Bhayal</div>
                                                    </div>
                                                    <div class="transaction-item">
                                                      <div class="media">
                                                        <div class="avatar bg-light-success rounded">
                                                          <div class="avatar-content">
                                                            <i data-feather="tablet" class="avatar-icon font-medium-3"></i>
                                                          </div>
                                                        </div>
                                                        <div class="media-body">
                                                          <h6 class="transaction-title">Phone Number:</h6>
                                                        
                                                        </div>
                                                      </div>
                                                      <div class="details">9123456789</div>
                                                    </div>
                                                    <div class="transaction-item">
                                                      <div class="media">
                                                        <div class="avatar bg-light-danger rounded">
                                                          <div class="avatar-content">
                                                            <i data-feather="check" class="avatar-icon font-medium-3"></i>
                                                          </div>
                                                        </div>
                                                        <div class="media-body">
                                                          <h6 class="transaction-title">Email ID:</h6>
                                                          
                                                        </div>
                                                      </div>
                                                      <div class="details">Demo@gmail.com</div>
                                                    </div>
                                                    <div class="transaction-item">
                                                      <div class="media">
                                                        <div class="avatar bg-light-warning rounded">
                                                          <div class="avatar-content">
                                                            <i data-feather="calendar" class="avatar-icon font-medium-3"></i>
                                                          </div>
                                                        </div>
                                                        <div class="media-body">
                                                          <h6 class="transaction-title">Password:</h6>
                                                         
                                                        </div>
                                                      </div>
                                                      <div class="details">Blank</div>
                                                    </div>
                                                 
                                                  </div>                        
                                            </div>
                                            
                                          </div>
                                        </div>
                    
                                    </div>
                                </div>
                             </div>
                              </div>                        
                        </div>
                        
                      </div>
                       
                    </div>

                </div>
            </div>
            
          


            <!--/ Dynamic data Card -->
        </div>


        
        <ngx-datatable class="material container striped" [columns]="cols" [rows]="kitchenSinkRows"
          [rowHeight]="58" rowHeight="auto" class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force"
          [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true" [selectionType]="SelectionType.checkbox"
          [limit]="basicSelectedOption" (select)="onSelect($event)">
          <ngx-datatable-column name="S.No." [width]="50" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
              {{ rowIndex + 1 }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Order ID" prop="discountTitle" [width]="100"></ngx-datatable-column>
          <ngx-datatable-column name="Order Value" prop="promoCode" [width]="100"></ngx-datatable-column>
          <ngx-datatable-column name="Discount %" prop="discountPercent" [width]="100"></ngx-datatable-column>
          <ngx-datatable-column name="Deduction" prop="maxDiscount" [width]="100"
            [sortable]="false"></ngx-datatable-column>
          <ngx-datatable-column name="Deduction Reason" prop="minAmount" [width]="100"
            [sortable]="false"></ngx-datatable-column>
          <ngx-datatable-column name="Settlement Amount" prop="isFlatDiscount" [width]="100"
            [sortable]="false"></ngx-datatable-column>
          <ngx-datatable-column name="Customer Name" prop="Action" [width]="50" [sortable]="false"
            class="badge badge-light-success badge-pill">
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <!-- <button class="btn btn-primary" (click)="openLinkOfferModal(content1, row)">
                APPLY
              </button> -->
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </section>