<div class="row">
    <!-- Dynamic data Card -->
    <div class="col-4 col-md-4 col-lg-4">
      <div class="card-body p-0">
        <div class="outlet-body">
          <div class="card-transaction support">
            <div class="card-header">
              <div class="card-body">
                <div class="heading2">
                  <h1>Welcome Offer</h1>
                </div>
                <hr />
                <div class="transaction-item pt-1">
                  <div class="media">
                    <div class="avatar bg-light-primary rounded">
                      <div class="avatar-content">
                        <i
                          data-feather="check-square"
                          class="avatar-icon font-medium-3"
                        ></i>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="transaction-title">Name:</h6>
                    </div>
                  </div>
                  <div class="details">Anjali Bhayal</div>
                </div>
                <div class="transaction-item">
                  <div class="media">
                    <div class="avatar bg-light-success rounded">
                      <div class="avatar-content">
                        <i
                          data-feather="tablet"
                          class="avatar-icon font-medium-3"
                        ></i>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="transaction-title">Phone Number:</h6>
                    </div>
                  </div>
                  <div class="details">9123456789</div>
                </div>
                <div class="transaction-item">
                  <div class="media">
                    <div class="avatar bg-light-danger rounded">
                      <div class="avatar-content">
                        <i
                          data-feather="check"
                          class="avatar-icon font-medium-3"
                        ></i>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="transaction-title">Email ID:</h6>
                    </div>
                  </div>
                  <div class="details">Demo@gmail.com</div>
                </div>
                <div class="transaction-item">
                  <div class="media">
                    <div class="avatar bg-light-warning rounded">
                      <div class="avatar-content">
                        <i
                          data-feather="calendar"
                          class="avatar-icon font-medium-3"
                        ></i>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="transaction-title">Password:</h6>
                    </div>
                  </div>
                  <div class="details">Blank</div>
                </div>

                
                  <div class="parent d-flex justify-content-between align-items-center">
                    <button class="btn btn-primary" (click)="openLinkOfferModal(content1, row)">
                      APPLY
                    </button>
                    <button class="btn btn-primary">
                      OPEN
                    </button>
                  </div>
              

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-4 col-lg-4">
        <div class="card-body p-0">
          <div class="outlet-body">
            <div class="card-transaction support">
              <div class="card-header">
                <div class="card-body">
                  <div class="heading2">
                    <h1>Welcome Offer</h1>
                  </div>
                  <hr />
                  <div class="transaction-item pt-1">
                    <div class="media">
                      <div class="avatar bg-light-primary rounded">
                        <div class="avatar-content">
                          <i
                            data-feather="check-square"
                            class="avatar-icon font-medium-3"
                          ></i>
                        </div>
                      </div>
                      <div class="media-body">
                        <h6 class="transaction-title">Name:</h6>
                      </div>
                    </div>
                    <div class="details">Anjali Bhayal</div>
                  </div>
                  <div class="transaction-item">
                    <div class="media">
                      <div class="avatar bg-light-success rounded">
                        <div class="avatar-content">
                          <i
                            data-feather="tablet"
                            class="avatar-icon font-medium-3"
                          ></i>
                        </div>
                      </div>
                      <div class="media-body">
                        <h6 class="transaction-title">Phone Number:</h6>
                      </div>
                    </div>
                    <div class="details">9123456789</div>
                  </div>
                  <div class="transaction-item">
                    <div class="media">
                      <div class="avatar bg-light-danger rounded">
                        <div class="avatar-content">
                          <i
                            data-feather="check"
                            class="avatar-icon font-medium-3"
                          ></i>
                        </div>
                      </div>
                      <div class="media-body">
                        <h6 class="transaction-title">Email ID:</h6>
                      </div>
                    </div>
                    <div class="details">Demo@gmail.com</div>
                  </div>
                  <div class="transaction-item">
                    <div class="media">
                      <div class="avatar bg-light-warning rounded">
                        <div class="avatar-content">
                          <i
                            data-feather="calendar"
                            class="avatar-icon font-medium-3"
                          ></i>
                        </div>
                      </div>
                      <div class="media-body">
                        <h6 class="transaction-title">Password:</h6>
                      </div>
                    </div>
                    <div class="details">Blank</div>
                  </div>
  
                  
                    <div class="parent d-flex justify-content-between align-items-center">
                      <button class="btn btn-primary" (click)="openLinkOfferModal(content1, row)">
                        APPLY
                      </button>
                      <button class="btn btn-primary">
                        OPEN
                      </button>
                    </div>
                
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-4 col-md-4 col-lg-4">
        <div class="card-body p-0 ">
          <div class="outlet-body">
            <div class="card-transaction support">
              <div class="card-header">
                <div class="card-body">
                  <div class="heading2">
                    <h1>Welcome Offer</h1>
                  </div>
                  <hr />
                  <div class="transaction-item pt-1">
                    <div class="media">
                      <div class="avatar bg-light-primary rounded">
                        <div class="avatar-content">
                          <i
                            data-feather="check-square"
                            class="avatar-icon font-medium-3"
                          ></i>
                        </div>
                      </div>
                      <div class="media-body">
                        <h6 class="transaction-title">Name:</h6>
                      </div>
                    </div>
                    <div class="details">Anjali Bhayal</div>
                  </div>
                  <div class="transaction-item">
                    <div class="media">
                      <div class="avatar bg-light-success rounded">
                        <div class="avatar-content">
                          <i
                            data-feather="tablet"
                            class="avatar-icon font-medium-3"
                          ></i>
                        </div>
                      </div>
                      <div class="media-body">
                        <h6 class="transaction-title">Phone Number:</h6>
                      </div>
                    </div>
                    <div class="details">9123456789</div>
                  </div>
                  <div class="transaction-item">
                    <div class="media">
                      <div class="avatar bg-light-danger rounded">
                        <div class="avatar-content">
                          <i
                            data-feather="check"
                            class="avatar-icon font-medium-3"
                          ></i>
                        </div>
                      </div>
                      <div class="media-body">
                        <h6 class="transaction-title">Email ID:</h6>
                      </div>
                    </div>
                    <div class="details">Demo@gmail.com</div>
                  </div>
                  <div class="transaction-item">
                    <div class="media">
                      <div class="avatar bg-light-warning rounded">
                        <div class="avatar-content">
                          <i
                            data-feather="calendar"
                            class="avatar-icon font-medium-3"
                          ></i>
                        </div>
                      </div>
                      <div class="media-body">
                        <h6 class="transaction-title">Password:</h6>
                      </div>
                    </div>
                    <div class="details">Blank</div>
                  </div>
  
                  
                    <div class="parent d-flex justify-content-between align-items-center">
                      <button class="btn btn-primary" (click)="openLinkOfferModal(content1, row)">
                        APPLY
                      </button>
                      <button class="btn btn-primary">
                        OPEN
                      </button>
                    </div>
                
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    
    <!--/ Dynamic data Card -->
  </div>