@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body { font-family: 'Open Sans', sans-serif;}
h1 {
    text-align: start;
    font-size: 28px;
    font-weight: 600;
    // margin-bottom: 29px;
}
// .container { padding-top: 60px;}
.dealwrapper {  background: #F8F9FD; border-radius: 8px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; position: relative;}
.list-group h4 { font-size: 18px; margin-top: 6px;  margin-bottom: 10px;color: white;}
.list-group p {
    font-size: 14px;
    line-height: 1.4;
}
.list-group-item { border: 1px solid rgba(221, 221, 221, 0.25);}

.ribbon-wrapper { width: 88px; height: 88px; overflow: hidden; position: absolute; top: -3px; right: -3px; z-index: 1;}
.ribbon-tag { text-align: center; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); position: relative; padding: 6px 0; left: -4px; top: 15px; width: 120px; color: #ffffff; -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); box-shadow: 0px 0px 3px rgba(0,0,0,0.3); text-shadow: rgba(255,255,255,0.5) 0px 1px 0px; background: #343434; }

.ribbon-tag:before, .ribbon-tag:after { content: ""; position:absolute; bottom: -3px;}
.ribbon-tag:before { left: 0;}
.ribbon-tag:after { right: 0;}

.dealwrapper.purple .ribbon-tag { background:#0fab64;
// background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,96,179,1)), color-stop(50%, rgba(193,70,161,1)), color-stop(51%, rgba(168,0,119,1)), color-stop(100%, rgba(219,54,164,1)));
;}


.coupon.midnight-blue  a{
    background-color: #0fab64;
    padding: 12px 27px;
    color: white;
    width: 100%;
}
.coupon.midnight-blue {
    padding: 22px 17px;
}

.coupon.midnight-blue1  a{
    background-color: #EC0A37;
    padding: 12px 27px;
    color: white;
    width: 100%;
}
.coupon.midnight-blue1 {
    padding: 22px 17px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #F8F9FD;
    // border: 1px solid rgba(34, 41, 47, 0.125);
}
.list-group  p:hover{
    font-size: 14px;
    line-height: 1.4;
    color: black;
}