<ng-container *ngIf="contentHeader">
  <div class="content-header row">
    <div class="content-header-left col-md-12 col-12 mb-2">
      <div class="row breadcrumbs-top">
        <div class="col-md-12">
          <div class="breadcrumbs-top-heading">
            <h2 class="content-header-title float-left mb-0">
              {{ contentHeader.headerTitle }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<div class="order">
  <div class="card card-congratulation-medal">
    <div class="card-body">
      <!-- <h1>All Outlet</h1> -->
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="dealwrapper purple">
            <div class="ribbon-wrapper">
              <div class="ribbon-tag">50% OFF</div>
            </div>
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h1 class="list-group-item-text text-align-start">Welcome Offer</h1>
              </a>
              <a href="#" class="list-group-item">
                <p class="list-group-item-text"> Apply this Offer and get Upto 20% off on this order , order above No Upper limit</p>
              </a>
             <div class="schb d-flex justify-content-between" >
              <div class="coupon midnight-blue">
                <a data-toggle="collapse" href="#code-4" class="open-code">Apply</a>
              </div>
              <div class="coupon midnight-blue1" style="">
                <a data-toggle="collapse" href="#code-4" class="open-code">Delete</a>
              </div>
             </div>
            </div>
          </div>​
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="dealwrapper purple">
            <div class="ribbon-wrapper">
              <div class="ribbon-tag">50% OFF</div>
            </div>
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h1 class="list-group-item-text text-align-start">Welcome Offer</h1>
              </a>
              <a href="#" class="list-group-item">
                <p class="list-group-item-text"> Apply this Offer and get Upto 20% off on this order , order above No Upper limit</p>
              </a>
             <div class="schb d-flex justify-content-between" >
              <div class="coupon midnight-blue">
                <a data-toggle="collapse" href="#code-4" class="open-code">Apply</a>
              </div>
              <div class="coupon midnight-blue1" style="">
                <a data-toggle="collapse" href="#code-4" class="open-code">Delete</a>
              </div>
             </div>
            </div>
          </div>​
        </div>
    
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="dealwrapper purple">
            <div class="ribbon-wrapper">
              <div class="ribbon-tag">50% OFF</div>
            </div>
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h1 class="list-group-item-text text-align-start">Welcome Offer</h1>
              </a>
              <a href="#" class="list-group-item">
                <p class="list-group-item-text"> Apply this Offer and get Upto 20% off on this order , order above No Upper limit</p>
              </a>
             <div class="schb d-flex justify-content-between" >
              <div class="coupon midnight-blue">
                <a data-toggle="collapse" href="#code-4" class="open-code">Apply</a>
              </div>
              <div class="coupon midnight-blue1" style="">
                <a data-toggle="collapse" href="#code-4" class="open-code">Delete</a>
              </div>
             </div>
            </div>
          </div>​
        </div>
    
      </div>
    </div>
  </div>
</div>

