
.Add-btn{
    background-color: #0FAB64;
    color: #fff !important;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 16px;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
  }