<div class="content-wrapper container-fluid p-0">
    <div class="content-body">
        <!-- content-header component -->

        <!-- home page content start -->
        <section id="users-page">


            <div class="row">
                <!-- Dynamic data Card -->
                <div class="col-lg-6 col-sm-6 col-12 text-start">
                    <div class="card">
                        <div class="card-body">
                        <div class="heading">
                            <h1>DEDiCATED MANAGER</h1>
                        </div>
                        <div class="details">
                            <h5>Name</h5>
                            <p>N/A</p>
                        </div>
                        <div class="details">
                            <h5>Phone</h5>
                            <p>1235656636</p>
                        </div>
                        <div class="details">
                            <h5>Email</h5>
                            <p>N/A</p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-12 text-start">
                    <div class="card">
                        <div class="card-body">
                            <div class="heading">
                                <h1>COSTUMER SUPPORT</h1>
                            </div>
                            <div class="details">
                                <h5>Phone</h5>
                                <p>123456789</p>
                            </div>
                            <div class="details">
                                <h5>Email</h5>
                                <p>Seller@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
              


                <!--/ Dynamic data Card -->
            </div>

        </section>
        <!-- home page contentend -->
    </div>
</div>